
device/obj/Debug/net6.0/device.GeneratedMSBuildEditorConfig.editorconfig
device/obj/Debug/net6.0/device.csproj.AssemblyReference.cache
device/obj/Debug/net6.0/device.assets.cache
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
device/obj/Debug/net6.0/device.assets.cache
obj/Debug/net6.0-windows/simple_license.GlobalUsings.g.cs
obj/Debug/net6.0-windows/simple_license.GeneratedMSBuildEditorConfig.editorconfig
*.cache
device/obj/Debug/net6.0/device.GeneratedMSBuildEditorConfig.editorconfig
device/obj/Debug/net6.0/device.assets.cache
device/obj/Debug/net6.0/device.GeneratedMSBuildEditorConfig.editorconfig
device/obj/Debug/net6.0/device.csproj.AssemblyReference.cache
